.container_about{style:"padding: 80px 0px 80px 0px;"}
	%center
		%h3.text_team
			NUESTRO TEAM
		.container_profile	
			.container_img
				= image_tag "avatar_hugo.jpg", width:"250px", class:"img-responsive"
				.info
					%h4 HUGO RIVERO
					%h5 Founder & Web Developer
				.divisor
			.more
				%p
					Ingeniero de sistemas, graduado en el 2015, con amplios conocimientos de desarrollo de software bajo metodos agiles, consultoria y planificacion de herramientas web.
				.socials
					.divisor
					%a.facebook{:href => "#", :title => "#"}
						%i.fa.fa-facebook#face
					%a.twitter{:href => "#", :title => "#"}
						%i.fa.fa-twitter#twitter
					%a.gmail{:href => "#", :title => "#"}
						%i.fa.fa-envelope-o#email	
