.container_footer
	.container_col
		.row{style:"width:100%;"}
			%center
				.col-lg-6
					%h4 Nuestros sitios soportados por
					%br/
					=image_tag "browser_logos.png"
				.col-lg-6	
					%h4 Siguenos
					%br/	
					%a.facebook{:href => "#", :title => "#"}
						%i.fa.fa-facebook#face
					%a.twitter{:href => "#", :title => "#"}
						%i.fa.fa-twitter#twitter
					%a.gmail{:href => "#", :title => "#"}
						%i.fa.fa-instagram#email
	.copyright
		.row{style:"width:100%;"}
			%center
				.col-lg-12
					%p#derechos Copyright © 2015
					%a#link{:href => "#", :title => "xxxx"} xxxxx


