.page-section
	.container-section
		.row
			.col-lg-8
				.container-col
					.row

						.col-lg-4
							.service-icon
								%i.fa.fa-line-chart
						.col-lg-8
							%h4.subtitle
								POTENCIAMOS TU MARCA EN LA WEB
							.bar-divisor
							%p
								Contamos con una amplia experiencia en el sector y podemos asesorarte en cualquier aspecto que necesites. Nuestra misión es ayudarte a desarrollar la parte digital de forma integral, convirtiendo la tecnología en algo fácil y sencillo. 
							%p
								Ofrecemos productos para cubrir todos los aspectos que puedas necesitar. Trabajamos tanto para pequeñas como grandes empresas. Con nuestro enfoque profesional por fin conseguirás potenciar tu negocio en internet.
						
					.row
						.col-lg-4
							.service-icon
								%i.fa.fa-cogs
						.col-lg-8
							%h4.subtitle
								CREAMOS HERRAMIENTAS QUE AUMENTAN TU PRODUCTIVIDAD
							.bar-divisor
							%p
								Nos especializamos en desarrollo de software a la medida y servicios de consultoría para pequeñas y grandes empresas, ayudándoles a reducir los riesgos en la ejecución de proyectos, aceleramos los proceso proporcionando metodologías agiles para el desarrollo de software.
							%p
								Cuando se trabaja en un proyecto, siempre ponemos a nuestros clientes y sus necesidades en primer lugar. Esto significa no usar el mismo enfonce de desarrollo para cada proyecto, si no que en función de las expectativas, alcance y especificaciones, utilizamos metodologías ágiles, ya sea, como Scrum y Kanbas, o metodologías de desarrollo incrementales estándar.
			.col-lg-4
				.container-icon
					%i.fa.fa-cloud
				.container-text-icon
					%h4.subtitle
						LLEVAMOS TU MODELO DE NEGOCIO A LA NUBE	
					%p
						Bienvenido a la nube. “Es tener en Internet lo que antes tenías en tu ordenador”. Ha transformado todo, como y donde accesar a tus datos, desde cualquier lugar y momento, por tal motivo desarrollamos herramientas web que sin importar donde estes puedes tener acceso a ella con solo un click, así que hablar hoy de la nube es hablar de oportunidades de negocio donde tus clientes no necesitan de ti para poder usar tus servicios.

.page-section2
	.container-section2
		.section-title
			%h3
				¿Cómo trabajamos?
		.row
			.col-lg-3
				.process-item
					.icon
						%i.fa.fa-lightbulb-o
					%h4.title
						Plan
					%p
						La planificacion es uno de los aspecto mas importante en el desarrollo de un proyecto, en este punto es donde mordeamos tu idea y le damos la forma que realmente deseas, entendido en cuenta las necesidades del cliente.
			.col-lg-3
				.process-item
					.icon
						%i.fa.fa-pencil
					%h4.title
						Diseño
					%p
						El grupo talento de diseño transforma esa idea, a un wireframe donde los cliente pueden detallar de forma grafica como quedara terminado su proyecto.
			.col-lg-3
				.process-item
					.icon
						%i.fa.fa-code
					%h4.title
						Codificacion
					%p
						Ahora es el momento de hablar lenguaje de programacion y desarrollar el conjunto de etapas anteriores a lo que sera realmente tu sitio web, amplicando metodologia angiles para que en cualquier momento el cliente sepa que porcentaje de adelanto lleva su diseño.	
			.col-lg-3
				.process-item
					.icon
						%i.fa.fa-globe
					%h4.title
						Publicacion
					%p
						Llego el gran momento donde tu proyecto esta completamente terminado, ahora es momento de empezar a capturar a tus clientes con tu movedosa web, diseña baso los estandares de desarrollo mas actualizados, pensando siempre en la escalibidad y que tu marca siga creciendo.