.page-section
	.container-section
		.row
			.col-lg-8
				.container-col
					.col-lg-4
						.service-icon.mover#img-imagenosotros
							%i.fa.fa-line-chart
					.col-lg-8
						%h4.subtitle.text-icon#text-id
							POTENCIAMOS TU MARCA EN LA WEB
						.bar-divisor
						%p.text-icon#text-id
							Contamos con una amplia experiencia en el sector y podemos asesorarte en cualquier aspecto que necesites. Nuestra misión es ayudarte a desarrollar la parte digital de forma integral, convirtiendo la tecnología en algo fácil y sencillo. 
						%p.text-icon#text-id
							Ofrecemos productos para cubrir todos los aspectos que puedas necesitar. Trabajamos tanto para pequeñas como grandes empresas. Con nuestro enfoque profesional por fin conseguirás potenciar tu negocio en internet.
				
					.col-lg-4
						.service-icon.mover2#img-imagenosotros2
							%i.fa.fa-cogs
					.col-lg-8
						%h4.subtitle.text-icon#text-id
							CREAMOS HERRAMIENTAS QUE AUMENTAN TU PRODUCTIVIDAD
						.bar-divisor
						%p.text-icon#text-id
							Nos especializamos en desarrollo de software y consultoria a pequeñas y grandes empresas para optimizar tus operaciones utilizando herramientas tecnologicas de ultimo nivel, aplicando metodos para mejorar tu productividad y potencial el crecimiento de tu empresa.
						%p.text-icon#text-id
							Cuando recibimos un proyecto aplicamos un enfoque que permita al cliente saber que se estan emplementando los estandares correcto, por tal motivo cada proyecto es unico y exclusivo, nada mejor que saber que tu empresa es unica.
							
			.col-lg-4
				.container-icon-global
					.container-icon.mover3#img-imagenosotros3
						%i.fa.fa-cloud-download
					.container-text-icon
						%h4.subtitle.text-icon#text-id
							LLEVAMOS TU MODELO DE NEGOCIO A LA NUBE	
						%p.text-icon#text-id
							Bienvenido a la nube. “Es tener en Internet lo que antes tenías en tu ordenador”. Ha transformado todo, como y donde accesar a tus datos, desde cualquier lugar y momento, por tal motivo desarrollamos herramientas web que sin importar donde estes puedes tener acceso a ellas con solo un click, así que hablar hoy de la nube es hablar de oportunidades de negocio donde tus clientes no necesitan de ti para poder usar tus servicios.

.page-section2
	.container-section2
		.section-title
			%h3
				¿Cómo trabajamos?
		.row
			.col-lg-3
				.process-item.mover4#icon-trabajamos
					.icon#img-imagenosotros4
						%i.fa.fa-lightbulb-o
					%h4.title
						Plan
					%p
						La planificacion es uno de los aspecto mas importante en el desarrollo de un proyecto, en este punto es donde mordeamos tu idea y le damos la forma que realmente deseas, teniendo en cuenta tus necesidades como marca o empresa.
			.col-lg-3
				.process-item.mover5#icon-trabajamos2
					.icon#img-imagenosotros5
						%i.fa.fa-pencil
					%h4.title
						Diseño
					%p
						El grupo talento de diseño transforma esa idea, a un wireframe donde tu como cliente puedes detallar de forma grafica como quedara terminado tu proyecto.
			.col-lg-3
				.process-item.mover6#icon-trabajamos3
					.icon#img-imagenosotros6
						%i.fa.fa-code
					%h4.title
						Codificacion
					%p
						Ahora es el momento de hablar lenguaje de programacion y desarrollar el conjunto de etapas anteriores a lo que sera realmente tu sitio web, amplicando metodologia angiles para que en cualquier momento tu puedas saber que porcentaje de adelanto lleva tu proyecto.	
			.col-lg-3
				.process-item.mover7#icon-trabajamos4
					.icon#img-imagenosotros7
						%i.fa.fa-globe
					%h4.title
						Publicacion
					%p
						Llego el gran momento donde tu proyecto esta completamente terminado, ahora es momento de empezar a capturar a tus clientes con tu movedosa web, diseñada bajo los estandares de desarrollo mas actualizados, pensando siempre en la escalibidad y que tu marca siga creciendo.