.container-port
	%center
		%h2.title-port
			NUESTRAS CONTRIBUCIONES
	.row{style:"width:100%; margin-top: 0px; margin-left: 0px;"}
		.col-lg-4.col-md-6.col-sm-12.col-xs-12
			.image-prof
				.mask
					%center
						= link_to "http://debotonesagerente.com", target:"_blank" do
							%i.fa.fa-eye
		.col-lg-4.col-md-6.col-sm-12.col-xs-12
			.image-prof#img-2
				.mask
					%center
						= link_to "http://tierradeavesposada.com/", target:"_blank" do
							%i.fa.fa-eye
		.col-lg-4.col-md-6.col-sm-12.col-xs-12
			.image-prof#img-3
				.mask
					%center
						= link_to "http://debotonesagerente.com", target:"_blank" do
							%i.fa.fa-eye